<!--main-visual部-->
    <div class="main-visual">
      <div class="main-visual-content">
        <p class="comment-by-Augstine">社会に貢献できる企業をめざして、ヒトと社会をコネクトする<br>
人と共に成長する人材紹介企業へ</p>
        <p class="Augstine"></p>
      </div>
    </div>
    
    <!-- main部 -->
    <div class="main claerfix">
      <div class="blog">
        <h2 class="blogTitle">サービス３つの特徴</h2>
        <div class="blog_allBoxs">
          <div class="box1 ">
            <img src="" alt="">
            <div class="blogcomment">
              <p>専門性<br>
              <p class="day"></p>
              <a></a>
            </div>
          </div>
          <div class="box2 ">
            <img src="" alt="">
            <div class="blogcomment">
              <p>個別性</p><br>
              <p class="day"></p>
              <a></a>
            </div>
          </div>
          <div class="box3 ">
            <img src="" alt="">
            <div class="blogcomment">
              <p>利用者本位</p><br>
              <p class="day"></p>
              <a></a>
            </div>
          </div>
        </div>
        <div class="side-right">
          <img src="/00_PP42_PP_TP_V.jpg" class="right-img">
          <p>私達にお任せ下さい。</p>
          <p>まずはご連絡下さい。</p>
        </div>
      </div>
    </div>
    
    <!--footer部-->
    <footer>
      <p class="footer-text">株式会社ヒロコヤ<br>許可届出番号27-ユ-302617</p>
    </footer>