<div class="our_company">
    <h1>会社概要</h1>
    
    <div class="company_name">株式会社ヒロコヤ</div>
    <div class="member">
        <ul class="member_list">
            <li>
                <a class="position">代表取締役</a><a class="name">前田 知宏</a>
            </li>
            <li>
                <a class="position">取締役</a><a class="name">片原 正</a>
            </li>
            <li>
                <a class="position">取締役</a><a class="name">中山 克之</a>
            </li>
            <li>
                <a class="position">顧問</a><a class="name">古田 清和(公認会計士・税理士)</a>
            </li>
        </ul>
    </div>
    
    <div class="address">
        <p>550-0005<br>大阪府大阪市西区西本町1-13-38<br>西本町ビル505</p>
    </div>
    
    <div class="access">
        <p>地下鉄御堂筋線 本町駅より徒歩10分</p>
    </div>
</div>