// Place all the styles related to the career_changes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_top{
    margin-top:30px;
    margin-left:50px;
    margin-bottom:50px;
}
.new_order_hope a{
    display:block;
}
.new_order_hope input{
    display:block;
    border: 1px solid black;
}
.new_order_hope textarea{
    width:300px;
    height:100px;
}

.new_order_sousinn{
    width:50px;
}
