// Place all the styles related to the job_offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job_offers_top{
    margin-top:30px;
    margin-left:50px;
    margin-bottom:50px;
}

.job_offers_order a, .job_offers_order input{
    display:block;
}
.job_offers_order input{
    border: 1px solid black;
}
.job_offers_order textarea{
    width:160px;
    height:100px;
    border: 1px solid black;
}

.job_offers_order_list_sousinn{
    margin-top:10px;
    width:50px;
}