// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_top, .login_form_top{
    margin-top:50px;
    margin-left:30px;
}

.users_sousinn{
    margin-left:130px;
}

.login_form_sousinn{
    margin-left:100px;
}